<div class="b-order">
  <h1 class="b-order__title">Информация о заказе</h1>

  {{b-order-description order=order}}

  <ul class="b-order__content">
    {{#each groupedPortions as |group|}}
      {{b-order-group order=order portions=group.list owner=group.grouper}}
    {{/each}}
  </ul>

  <div class="f-default__row">
    <button {{action "toggleActiveState"}} class="button _submit">
      {{#if order.active}}Заблокировать заказ{{else}}Разблокировать заказ{{/if}}
    </button>
  </div>

  {{f-checkout submit=(action 'send') order=order}}

</div>
{{#link-to "new-portion-order" order.id aria-label="add new portion" class="btn-new-order"}}{{/link-to}}

